* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(12, 25, 27);
    color: rgb(232, 198, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}   

main {
    margin: 0 auto;
    max-width: 400px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: solid 2px rgb(232, 198, 33);
    border-radius: 8px;

    transition: ease-in-out 0.5s;
}
main:hover {
    background-color: rgb(232, 198, 33);
    color: rgb(12, 25, 27);
}
main div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main div h1 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}
main div strong {
    font-size: 50px;
}

p {
    position: absolute;
    bottom: 20px;
    color: rgb(155, 94, 212);
    font-weight: 600;
}